---
const base = import.meta.env.BASE_URL
---

<header class="site-header">
  <div class="wrap">
    <a class="brand" href={base}>
      <img src={`${base}favicon.svg`} alt="" />
      SF6 Sensei
    </a>
  </div>
</header>
